.section1 {
  grid-area: section1;
  width: 100%;
  text-align: center;
  font-size: 16pt;
}
.grid-container {                /* display grid for the sections*/
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'section1 section1 section1 section1 section1 section1'
    'section2 section2 section2 section2 section2 section2'
    'section3 section3 section3 section3 section3 section3'
    'section4 section4 section4 section4 section4 section4'
    'footer footer footer footer footer footer';
}
.section2 {
  grid-area: section2;
  width: 100%;
  background-image: url("images/section2.jpg");
  height: 500px;
  border-top: black solid 0.2rem;
}
footer {
  grid-area: footer;
  width: 100%;
  margin-bottom: 0;
}
.cols {
  float: left;
  width: 25%;
  padding: 10px;
}
.section3 {
  grid-area: section3;
  width: 100%;
  margin-top: 5rem;
  background-color: white;
}
.gridcontainer {   /* using css grid to display the span of sections*/
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px;
  grid-template-rows: 30px 30px;
  grid-auto-flow: column;
}

.section4 {
  display: grid;
  grid-area: section4;
  grid-gap: 10px;
  background-color: #EFEFEF;
  color: #444;
}
.section4__left {
  grid-column: col ;
  grid-row: row 2 ;
}
.section4__right {
  grid-column: col 2 / span  3 ;
  grid-row: row 2 ;
  font-size: 18pt;
  font-weight: bold;
}
.gridcontainer2 {      /* display grid for the sections*/
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'section1 section1 section1 section1 section1 section1'
    'columns columns columns columns columns columns'
    'section6 section6 section6 section6 section6 section6'
    'section5 section5 section5 section5 section5 section5'
    'section4 section4 section4 section4 section4 section4'
    'footer footer footer footer footer footer';
}
.gridcontainer3 {      /* display grid for the sections*/
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'section1 section1 section1 section1 section1 section1'
  'section3 section3 section3 section3 section3 section3'
  'section4 section4 section4 section4 section4 section4'
  'footer footer footer footer footer footer';
}
.col-1 {width: 8.33%;}             /* testing the widths of sections using the old ways off css grid of declaring widths*/
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* styling the left column and linking it to the correct grid container for css grid layout */
.left {
  grid-area: left;
  background-color: #FF8000;
  border-top: solid #FFFF80 0.5rem;
  padding: 10px;
  height: 300px;
}

/* styling the middle column and linking it to the correct grid container for css grid layout */
.middle {
  grid-area: middle;
  padding: 10px;
  height: 300px;
}

/* styling the right column and linking it to the correct grid container for css grid layout */
.right {
  grid-area: right;
  background-color: #FF8000;
  border-top: solid #FFFF80 0.5rem;
  padding: 10px;
  height: 300px;
}
.columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
}
.section5 {
  grid-area: section5;
  margin-top: 18rem;
}
.columns2 {
  grid-area: section5;
  float: left;
  width: 20%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.section6 {
  grid-area: section6;
  margin-top: 0rem;
  padding-bottom: 6rem;
}
