@media screen and (max-width: 1200px) {               /* using media queries to make the pages responsive adding the different sections in and declaring widths different to desktop widths*/
  body {
    width: 100vw;
  }
  .section1 {
    grid-area: section1;
    width: 100%;
    text-align: center;
    font-size: 16pt;
  }
  .grid-container {               /* grid container for different pages */
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'section1 section1 section1 section1 section1 section1'
      'section2 section2 section2 section2 section2 section2'
      'section3 section3 section3 section3 section3 section3'
      'section4 section4 section4 section4 section4 section4'
      'footer footer footer footer footer footer';
  }
  .section2 {
    grid-area: section2;
    width: 100%;
    background-image: url("images/section2.jpg");
    height: 500px;
    border-top: black solid 0.2rem;
  }
  footer {
    grid-area: footer;
    width: 100%;
    margin-bottom: 0;
  }
  .cols {
    float: left;
    width: 25%;
    padding: 10px;
  }
  .section3 {
    grid-area: section3;
    width: 100%;
    margin-top: 5rem;
    background-color: white;
  }
  .gridcontainer {                /*  declaring the css grid for the grid container*/
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 30px 30px;
    grid-auto-flow: column;
  }

  .section4 {
    display: grid;
    grid-area: section4;
    grid-gap: 10px;
    background-color: #EFEFEF;
    color: #444;
  }
  .section4__left {
    grid-column: col ;
    grid-row: row 2 ;
  }
  .section4__right {
    grid-column: col 2 / span  3 ;
    grid-row: row 2 ;
    font-size: 18pt;
    font-weight: bold;
  }
  .gridcontainer2 {             /* display grid for the sections*/
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'section1 section1 section1 section1 section1 section1'
      'columns columns columns columns columns columns'
      'section6 section6 section6 section6 section6 section6'
      'section5 section5 section5 section5 section5 section5'
      'section4 section4 section4 section4 section4 section4'
      'footer footer footer footer footer footer';
  }
  .gridcontainer3 {            /* display grid for the sections*/
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'section1 section1 section1 section1 section1 section1'
    'section3 section3 section3 section3 section3 section3'
    'section4 section4 section4 section4 section4 section4'
    'footer footer footer footer footer footer';
  }
  /* styling the left column and linking it to the correct grid container for css grid layout */
  .left {
    grid-area: left;
    background-color: #FF8000;
    border-top: solid #FFFF80 0.5rem;
    padding: 10px;
    height: 300px;
  }

  /* styling the middle column and linking it to the correct grid container for css grid layout */
  .middle {
    grid-area: middle;
    padding: 10px;
    height: 300px;
  }

  /* styling the right column and linking it to the correct grid container for css grid layout */
  .right {
    grid-area: right;
    background-color: #FF8000;
    border-top: solid #FFFF80 0.5rem;
    padding: 10px;
    height: 300px;
  }
  .columns {                       /* using css grid to style the spans of sections*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
  }
  .section5 {
    grid-area: section5;
    margin-top: 18rem;
  }
  .columns2 {
    grid-area: section5;
    float: left;
    width: 20%;
    padding: 10px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .section6 {
    grid-area: section6;
    margin-top: 0rem;
    padding-bottom: 6rem;
  }
  ul {
    list-style-type: none;
    margin-top: 0;
    color: white;
    margin-left: 0;
    overflow: hidden;
  }
  #nav {
    background-color: black;
    color: white;
    width: 0;
    text-decoration: none;
    display: block;
    height: 150vh;
    font-size: 16pt;
    overflow: hidden;
    position: fixed;
    z-index: 999;
  }
  li {
    margin-right: 100px;
    margin-top: 5rem;
    display: block;
    text-align: center;
    width: 100%;
  }
  .designdev {
    width: 100%;
  }
}
