body {
  font-family: Helvetica, sans-serif;
  font-size: 16pt;
}
* {
  box-sizing: border-box;
}
.header {
  grid-area: header;
  width: 100%;
  color: white;
  font-size: 16pt;
}

#nav {
  background-color: black;
  color: white;
  width: 100%;
  text-decoration: none;
  display: block;
  height: 150px;
  font-size: 16pt;
  overflow: hidden;
  transition: 0.3s;
}

#nav a:hover {
    color: white;
    text-decoration: underline;
}
ul {
  list-style-type: none;
  margin-top: 0;
  color: white;
  margin-left: 13rem;
  overflow: hidden;
}

li {
  float: left;
  margin-right: 100px;
  margin-top: 5rem;
  display: block;
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
}
.designdev {
  width: 100%;
  /* display: none; */
}
.designdev2 {
  width: 100%;
}
#contactnav {
  color: white;
  margin-top: 0;
  padding-top: 3rem;
}
#contactnavfoot {
  color: white;
  padding-top: 3rem;
  margin-top: 8rem;
}
.container {
  width:100%;
  height:305px;
  overflow:hidden;
}
.container2 {
  width:100%;
  height:305px;
}
#copyright {
  float: left;
  margin-left: 3rem;
}
h2 {
  text-align: center;
}

.contactbutton {
  background: #4abdac;
  border-radius: 40px;
  font-family: Helvetica;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32pt;
  margin-top: 25rem;
  color: black;
}
.linkbuttons {
  background: #4abdac;
  border-radius: 40px;
  font-family: Helvetica;
  color: #000;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 4rem;
  display: flex;
  text-align: center;
  margin-bottom: 1rem;
}
.linkbuttons2 {
  background: #4abdac;
  border-radius: 40px;
  font-family: Helvetica;
  color: #000;
  font-size: 40px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  margin-left: 3rem;
}
#backgroundsection2 {
  width: 100%;
  height: 600px;
  /* display: none; */
}
#centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32pt;
  margin-top: 10rem;
  color: white;
}
#indexintro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32pt;
  margin-top: 17rem;
  color: white;
}
.section2__text{
  border: 5rem blue solid;
}
h3 {
  margin-left: 17rem;
}
#h3services {
  margin-left: 30rem;
}
#description {
  font-style: italic;
  font-size: 16pt;
  font-weight: lighter;
  margin-left: 15rem;
  margin-right: 28rem;
  padding-bottom: 2rem;
}
#services {
  font-style: italic;
  font-size: 16pt;
  font-weight: lighter;
  text-align: right;
  margin-left: 25rem;
  margin-top: 5rem;
}
.me-img {                     /* styling the image into a circular shape */
height: 300px;
width: 350px;
border-radius: 50%;
margin: 0 25px 5px 0;
float: left;
shape-outside: circle();
padding-top: 1rem;
}
#journey-img {
  width: 700px;
  height: 700px;
  margin-left: 33rem;
  margin-bottom: 2rem;
}
#timeline {
  margin-top: 5rem;
  color: black;
  margin-right: 15rem;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px;
}
.cols2{
  width: 33.33%;
}
#description2 {
  font-family: Helvetica;
  width: 50%;
  margin-left: 30rem;
  font-style: italic;
  margin-top: -5rem;
}
h1 {
  text-align: center;
  font-size: 28pt;
}
.hidden {
  display: none;
}
