#delwedd-img {
  width: 400px;
  height: 300px;
  border: solid 0.5rem #4abdac;
}
#delwedd-img-desc {
  width: 100%;
  font-style: italic;
}
#edgehill-img {
  width: 400px;
  height: 300px;
  border: solid 0.5rem #4abdac;
}
#process-img {
  width: 800px;
  margin-left: 32rem;
  padding-top: 2rem;
}
#description3 {
  margin-top: 3rem;
  font-style: italic;
  font-size: 16pt;
  font-weight: lighter;
  margin-left: 25rem;
  margin-right: 28rem;
  padding-bottom: 2rem;
}
#skills {
  border-bottom: solid 0.2rem #4abdac;
}
#skills-img {
  width: 900px;
  margin-left: 32rem;
}
#skills2 {
  background-color: #99BCBD;
}
#skills-desc {
  padding-top: 3rem;
  font-family: Helvetica;
  width: 50%;
  margin-left: 30rem;
  font-style: italic;
}
.linkbuttons3 {
  background: #4abdac;
  border-radius: 40px;
  font-family: Helvetica;
  color: #000;
  font-size: 40px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  margin-left: 50rem;
}
.form {
  width: 600px;                                 /*setting the size of the calculator */
  height: 500px;
  text-align: center;                           /* centre aligning the text */
  border: 20px solid #7b7b7b;
  margin-left: 38rem;
  background-color: #4abdac;
  font-family: sans-serif;                       /* styling the text */
  font-weight: bold;
  font-size: 20pt;
  display: grid;                                /* using CSS Grid to style the input boxes to the right */
  grid-gap: 15px;                               /* setting a gap between the input boxes */
  color: black;
}
input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#contacth1 {
  margin-left: 32rem;
}
#video {
   width:100% !important;
   max-width:500px !important;
   height:auto !important;
   border: 0.5rem solid #4abdac;
   margin-left: 30rem;
}
