.section1 {
  grid-area: section1;
  width: 100%;
  text-align: center;
  font-size: 16pt;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'section1 section1 section1 section1 section1 section1'
    'section2 section2 section2 section2 section2 section2'
    'section3 section3 section3 section3 section3 section3'
    'footer footer footer footer footer footer';
}
.section2 {
  grid-area: section2;
  width: 100%;
}
footer {
  grid-area: footer;
  width: 100%;
  margin-bottom: 0;
}
