body {
  font-family: Helvetica, sans-serif;
  font-size: 16pt;
}

.header {
  grid-area: header;
  width: 100%;
  color: white;
  font-size: 16pt;
}

#nav {
  background-color: black;
  color: white;
  width: 100%;
  text-decoration: none;
  display: block;
  height: 150px;
}

#nav a:hover {
    color: white;
    text-decoration: underline;
}
ul {
  list-style-type: none;
  margin-top: 0;
  padding-bottom: 10rem;
  color: white;
  margin-left: 25rem;
}

li {
  float: left;
  margin-right: 100px;
  margin-top: 5rem;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
}
.designdev {
  width: 100%;
}
#contactnav {
  color: white;
  margin-top: 0;
  padding-top: 3rem;
}
.container{
  width:100%;
  height:305px;
  overflow:hidden;
}
#copyright {
  float: left;
  margin-left: 3rem;
}
